@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* builder page css */
.builder-item {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.builder-item svg {
  width: 30px;
  height: 30px;
  display: block;
}

.builder-item .title {
  font-size: 17px;
  margin-left: 6px;
}

.handle {
  display: flex;
  align-items: center;
  align-content: center;
  user-select: none;
  margin: -0.5rem 0.5rem -0.5rem -0.5rem;
  padding: 0.5rem;
  line-height: 1.5;
  border-radius: 3px 0 0 3px;
  background: #fff;
  border-right: 1px solid #ddd;
  color: #000;
}

.drag-item {
  display: flex;
  user-select: none;
  padding: 0.5rem;
  margin: 0 0 0.5rem 0;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 1.5;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ddd;
  position: relative;
}

.trigger-btn {
  position: absolute;
  right: -15px;
  top: 1px;
}

.edit_btns {
  position: absolute;
  right: 10px;
  top: 10px;
}

.form-element {
  position: relative;
  width: 100%;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.handle {
  position: absolute;
  z-index: 1;
  height: 100%;
}

.builder-column {
  height: calc(100vh - 150px);
  overflow-y: auto;
}

.drop-area-wrapper {
  overflow-y: auto;
}

.cm-form-input input {
  border-radius: 5px;
  background: transparent;
  border: none;
  font-size: 24px;
  outline: 0;
  height: auto;
  padding: 0;
  box-shadow: none !important;
}

.cm-form-input input::placeholder {
  color: #fff;
  opacity: 1;
}

.builder-wrapper {
  height: calc(100vh - 150px);
  overflow: hidden;
}

.form-linear input,
.form-linear textarea {
  border-width: 0 0 2px 0;
  border-radius: 0;
  box-shadow: none;
}

.form-linear .icon-section {
  border-radius: 0;
}

.form-round input,
.form-round textarea,
.form-round button {
  border-radius: 25px;
}

.form-round .icon-section {
  border-radius: 25px 0 0 25px;
}

.form-sharp input,
.form-sharp textarea,
.form-sharp button {
  border-radius: 0px;
}

.form-sharp .icon-section {
  border-radius: 0;
}

#font-picker {
  box-shadow: none;
}

#font-picker .dropdown-button {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.webiste_link svg {
  transform: rotate(45deg);
}

.mention-text-area-box textarea {
  outline: none;
}

.modal-header {
  margin: -24px -24px 0;
  width: calc(100% + 48px);
}

.mobile-menu button svg {
  color: #fff;
  width: 30px;
  height: 30px;
}

.prompt-image-box {
  position: relative;
}

.prompt-image-box .downlaod-btn {
  position: absolute;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.ai-form {
  height: calc(100vh - 180px);
}

.prompt-loader {
  text-align: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prompt-loader .loader svg {
  height: 80px;
  width: 80px;
}

.prompt-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.prompt-content-box {
  position: relative;
  padding-top: 50px;
}

.prompt-content-box button {
  position: absolute;
  right: 0;
  top: 0;
}

/* homepage */
.hero-section {
  h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
  }

  .hero-shape {
    position: absolute;
    z-index: -1;
    animation: upDown 4s ease-in-out infinite; /* Add animation */

    /* Base shape styles */

    &.shape-1 {
      top: 12%;
      right: 10%;
      width: 3.5%;
    }

    &.shape-2 {
      top: 43%;
      left: 10%;
      width: 4.25%;
    }

    &.shape-3 {
      top: 50%;
      right: 10%;
      width: 5%;
      z-index: 2;
    }
  }

  .cta-shape {
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (max-width: 991px) {
    h1 {
      font-size: 64px;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 48px;
    }

    .hero-shape {
      display: none;
    }
  }
}

.cta-shape {
  position: absolute;
  right: 20px;
  top: 0;
}

.ql-editor {
  min-height: 100px;
}

/* price page */
.price-table {
  input:checked + label .checkbox-switch {
    transform: translateX(100%);
  }

  input:checked ~ .border .pricing-monthly {
    display: none;
  }

  input:checked ~ .border .pricing-yearly {
    display: inline;
  }

  input:checked ~ .yearly-table {
    display: flex;
  }

  input:checked ~ .monthly-table {
    display: none;
  }

  .pricing-yearly {
    display: none;
  }
}

.main-content {
  min-height: calc(100vh - 500px);
}

.ngprogress-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 1031; /* Ensure it's above everything */
}


/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: cyan;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

.app_icon {
  width: 60px;
  height: 60px;
  background: #06b6d4;
  border-radius: 50%;
  color: #fff;
  padding: 10px;
}

.app-card-dropdown a, .app-card-dropdown button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
}

.app-card-dropdown form {
  padding: 0;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .faded-bottom {
    @apply relative after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:block after:h-32 after:w-full after:bg-gradient-to-b after:from-transparent after:to-[hsl(var(--background))] after:hidden md:after:block;
  }


  .btn-primary {
    @apply bg-cyan-500 px-5 py-2 text-white shadow-md;
  }

  .btn-primary:hover {
    @apply bg-cyan-600;
  }

  .mega-menu {
    @apply absolute left-0 right-0 top-[65px] rounded-lg bg-gray-700 shadow-md;
    margin: 0 auto;
    max-width: 700px;
    opacity: 0;
    visibility: hidden;
  }

  .mega-menu:before {
    width: 100%;
    content: "";
    position: absolute;
    height: 20px;
    left: 0;
    top: -20px;
  }

  .group:hover .mega-menu {
    @apply visible opacity-100;
  }

  .cat-item {
    @apply rounded px-4 py-2 transition duration-200 ease-in-out hover:bg-gray-900;
    white-space: nowrap;
    text-align: left;
  }

  .mobile-link {
    @apply flex items-center gap-4 px-2.5 text-gray-200 hover:text-white;
  }
}

/* Keyframes for up-and-down animation */
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0); /* Start and end in the original position */
  }
  50% {
    transform: translateY(-50px); /* Move up by 20px at 50% */
  }
}
